<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<header>
        <h1>Welcome to our website!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </ul>
    </nav>
<body>
    {{{ body }}}
    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>

    {{#if loggedIn}}
    <script src="/assets/js/logout.js"></script>
    {{/if}}
</body>
</html>
